.Account h5{
    font-size: 18px;
    font-weight: bold;
}
.Account h5 span{
    color: #0000004e;
    font-weight: 400;
}
.account-menu p{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}
.account-menu ul li{
    margin: 10px 0;
    padding-left: 20px;
    color: #0000004e;
    font-size: 16px;
    list-style: none;
}
.account-menu ul li:hover{
    color: #ff5151;
    cursor: pointer;
}
.Account input{
    padding: 5px 10px;
    border: none;
    background-color: #00000014;
    border-radius: 0;
}